body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin: 0;
}

.chessboard {
    border: 2px solid red;
    display: inline-block;
}

table {
    border-collapse:collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid red;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: red;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: red;
}